<div class="contact-grid">
    <div class="grid-1">
        <h3>Get in touch!</h3>
        <p class="contact-info">Lets have a chat! Hit me up about possibly working together.</p>
    </div>
    <form action="#">
    <div class="grid-2">
        
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="first name" id="first_name" type="text" class="validate" style="height: 50px; width: 100%;">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="last name" id="last_name" type="text" class="validate" style="height: 50px; width: 100%;">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="email" id="last_name" type="text" class="validate" style="height: 50px; width: 100%;">
            </div>
        </div>
    </div>
    <div class="grid-3">
        <div class="input-field col s12">
            <textarea placeholder="message" id="textarea2" class="materialize-textarea" data-length="120" style="width: 100%;" ></textarea>
          </div>
    </div>
    <button type="button" class="btn btn-secondary btn-lg" style="margin: 1rem 0 1rem 0;">Large button</button>
    </form>
</div>

