<div class="container" style="display: flex; flex-direction: column; align-items: center;">
    <div class="logo" style="margin: 20px;">
        <img src="/img/brand-logo-2.png">
    </div>
    <h1 style="margin: 10px 0 25px 0; font-size: 32px; font-weight: 600;">Follow Me</h1>
    <div class="socials" style="margin: 0 0 25px 0;">
        <a href="https://www.linkedin.com/in/dalancox/"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://github.com/dalancox"><i class="fab fa-github" style="margin: 0 25px 0 25px;"></i></a>
        <a href="https://www.instagram.com/dalancox/?hl=en"><i class="fab fa-instagram"></i></a>
    </div>
    <p>Copyright ©2021 All rights reserved | This website is made by Dalan Cox</p>
</div>