<nav class="teal cyan lighten-2">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Dalan Cox</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-medium right"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/">Projects</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="#">Work</a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
            <li><a href="https://www.linkedin.com/in/dalancox/"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://github.com/dalancox"><i class="fab fa-github-square"></i></a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Projects</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</nav>