<h3>About</h3>
<div class="intro">
    <p class="about">My name is Dalan Cox and i'm currently 23 years old. I love to be outside, skateboard and have a passion for coding and learning. Checkout some of my favorite photos throughout my life!</p>
    <hr class="blue-grey"/>
    <div class="information info-1">
        <i class="fas fa-envelope"></i>
        <p>dalanjcox@gmail.com</p>
    </div>
    <div class="information info-2">
        <i class="fas fa-home"></i>
        <p>Herriman, UT</p>
    </div>
</div>


<div class="collage  grey lighten-3">
    <div class="colloge-item collage-1">
        <img src="/img/mountain.jpg" alt="mountain">
    </div>
    <div class="colloge-item collage-2">
        <img src="/img/waterfall.jpg" alt="waterfall">
    </div>
    <div class="colloge-item collage-3">
        <img src="/img/bridge.jpg" alt="bridge">
    </div>
    <div class="colloge-item collage-4">
        <img src="/img/blue-bird.jpg" alt="blue bird">
    </div>
    <div class="colloge-item collage-5">
    
    </div>
</div>