<h3>About</h3>
<div class="about">
    <p>My name is Dalan Cox and i'm currently 23 years old. I love to be outside, skateboard and have a passion for coding and learning. Checkout some of my favorite photos throughout my life!</p>
    <div class="information">
        <div><i class="fas fa-envelope"></i>dalanjcox@gmail.com</div>
        <div><i class="fas fa-home"></i>Herriman, UT</div>
    </div>
</div>


<div class="collage  grey lighten-3">
    <div class="colloge-item collage-1">
        
    </div>
    <div class="colloge-item collage-2">
        
    </div>
    <div class="colloge-item collage-3">
        
    </div>
    <div class="colloge-item collage-4">
        
    </div>
</div>
