<h3>Projects</h3>
<div class="row">
  <div class="col s12 m4">
    <div class="card large">
      <div class="card-image">
        <img src="/img/storybooks.png">
      </div>
      <div class="card-content">
        <p>A fullstack social app. Users can write and share stories among other users. I bulit the App on top of the Express framework, I use Google authentication. And use MongoDB as my database.</p>
      </div>
      <div class="card-action">
        <a href="https://github.com/dalancox/express-app" target="_blank">Github</a>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card large">
      <div class="card-image">
        <img src="/img/ravenous.png">
      </div>
      <div class="card-content">
        <p>React application that utilzes the Yelp API to look up and query data on users request.</p>
      </div>
      <div class="card-action">
        <a href="https://github.com/dalancox/ravenous" target="_blank">Github</a>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card large">
      <div class="card-image">
        <img src="https://materializecss.com/images/sample-1.jpg">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
  