<div class="mx-auto" style="width: 200px;">
    <h3 style="color: black; font-size: 45px;">Projects</h3>
</div>
<div class="row justify-content-center" >
  
    <div class="card" style="width: 21rem; height: 35rem; margin: 1rem;">
      <img src="/img/storybooks.png" class="card-img-top" alt="...">
      <div class="card-body">
          <p class="card-text">A fullstack social app. Users can write and share stories among other users. I bulit the App on top of the Express framework, I use Google authentication. And use MongoDB as my database.</p>
          <a href="https://github.com/dalancox/express-app" class="btn btn-primary btn-github">GitHub</a>
      </div>
    </div>
  
  
    <div class="card" style="width: 21rem; height: 35rem; margin: 1rem;">
      <img src="/img/ravenous.png" class="card-img-top" alt="...">
      <div class="card-body">
          <p class="card-text">React application that utilzes the Yelp API to look up and query data on users request.</p>
          <a href="https://github.com/dalancox/ravenous" class="btn btn-primary btn-github">GitHub</a>
      </div>
    </div>
  
    <div class="card" style="width: 21rem; height: 35rem; margin: 1rem;">
      <img src="/img/openweatherapi.png" class="card-img-top" alt="storybooks logo">
      <div class="card-body">
          <p class="card-text">Very simple project that pulls weather data from openweathermap.org. I utilize vanilla JavaScript, CSS and HTML.</p>
          <a href="https://github.com/dalancox/weatherapp" class="btn btn-primary btn-github">GitHub</a>
      </div>
  
  </div>
</div>